@mixin space-between-flex() {
  display: flex;
  justify-content: space-between;
}

@mixin soft-black-border() {
  border: 2px solid black;
  border-radius: 5px;
}

@mixin no-repeat-button-background() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}
